In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df1 = pd.read_excel('../data/raw/SYB66.xlsx', engine="openpyxl")
df1

,Region,Area,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Researchers per million inhabitants (FTE),907.2,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...,...
978,722,SIDS,2010,Researchers per million inhabitants (FTE),722.0,NaN,"United Nations Educational, Scientific and Cul..."
979,722,SIDS,2015,Gross domestic expenditure on R&D: as a percen...,1.1,NaN,"United Nations Educational, Scientific and Cul..."
980,722,SIDS,2015,Researchers per million inhabitants (FTE),812.1,NaN,"United Nations Educational, Scientific and Cul..."
981,722,SIDS,2020,Gross domestic expenditure on R&D: as a percen...,1.0,NaN,"United Nations Educational, Scientific and Cul..."
982,722,SIDS,2020,Researchers per million inhabitants (FTE),893.2,NaN,"United Nations Educational, Scientific and Cul..."

In [3]:
# Bru's code that I just copied because I needed to ensure my code would work with it
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
unique_values = df1['area'].unique()
print(unique_values)

df2 = pd.read_csv('../data/raw/SCN_DS_04112024092440372.csv')
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
display(df2)

unique_values = df2['country'].unique()
print(unique_values)

def strip_whitespace(df):
    for col in df.select_dtypes(include=['object']):
        if pd.api.types.is_string_dtype(df[col]):
            df[col] = df[col].str.strip()
    return df

# Strip whitespace from both DataFrames
df1 = strip_whitespace(df1)
df2 = strip_whitespace(df2)

replace_dict_dfs = {
    'Brunei Darussalam': 'Brunei',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Türkiye': 'Turkey'
}

df1['area'] = df1['area'].replace(replace_dict_dfs)
df2['country'] = df2['country'].replace(replace_dict_dfs)

replace_dict_df1 = {
    'Bolivia (Plurin. State of)': 'Bolivia',
    'China, Hong Kong SAR': 'Hong Kong',   
    'China, Macao SAR': 'Macao',
    'Côte d’Ivoire': 'Ivory Coast',
    'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
    'Latin America & the Caribbean': 'Latin America and the Caribbean',
    'LDC§': 'Least Developed Countries',
    'LLDCs': 'Landlocked Developing Countries',
    "Lao People's Dem. Rep.": 'Laos',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'SIDS': 'Small Island Developing States',
    'State of Palestine': 'Palestine',
    'Syrian Arab Republic': 'Syria',
    'Total, all countries or areas': 'World',
    'United Rep. of Tanzania': 'Tanzania',
    'United States Virgin Islands': 'US Virgin Islands',
    'Venezuela (Boliv. Rep. of)': 'Venezuela'
}

df1['area'] = df1['area'].replace(replace_dict_df1)

replace_dict_df2 = {  
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao Special Administrative Region': 'Macao',
    "Côte d'Ivoire": 'Ivory Coast',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Venezuela (Bolivarian Republic of)': 'Venezuela'
}

df2['country'] = df2['country'].replace(replace_dict_df2)

unique_df1 = df1['area'].unique()
unique_df2 = df2['country'].unique()

set_df1 = set(unique_df1)
set_df2 = set(unique_df2)

matches = set_df1.intersection(set_df2)

differences_df1 = set_df1.difference(set_df2)

differences_df2 = set_df2.difference(set_df1)

matches_list = sorted(list(matches))
differences_df1_list = sorted(list(differences_df1))
differences_df2_list = sorted(list(differences_df2))

print("Unique Matches:\n")
print(matches_list)

print("\nUnique values in df1, not in df2:\n")
print(differences_df1_list)

print("\nUnique values in df2, not in df1:\n")
print(differences_df2_list)

df1 = df1.drop(columns=['source', 'footnotes'])
df2.rename(columns={'country': 'area'}, inplace=True)
df2.rename(columns={'time': 'year'}, inplace=True)
df2 = df2.loc[:, ~df2.columns.duplicated()]
# print original dfs
print("df1:\n")
display(df1)

print("\ndf2:\n")
display(df2)

# merge vertically
merged_df = pd.concat([df1, df2], ignore_index=True)

print("\nmerged dataframe:\n")
display(merged_df)

['Total, all countries or areas' 'Northern Africa' 'Sub-Saharan Africa'
 'Northern America' 'Latin America & the Caribbean' 'Central Asia'
 'Eastern Asia' 'South-central Asia' 'South-eastern Asia' 'Southern Asia'
 'Western Asia' 'Europe' 'Oceania' 'Australia and New Zealand' 'Albania'
 'Algeria' 'American Samoa' 'Angola' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus' 'Belgium' 'Bermuda'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Canada' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Congo' 'Costa Rica' 'Côte d’Ivoire'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Dem. Rep. of the Congo' 'Denmark'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faroe Islands' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Guam' 'Guatemala' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lesotho' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka'
 'State of Palestine' 'Sudan' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'LLDCs' 'LDC§' 'SIDS']

,indicator,indicator,location,country,time,time,value,flag_codes,flags
0,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2017,2017,1.87977,NaN,NaN
1,EXPGDP_TOT,GERD as a percentage of GDP,AUS,Australia,2019,2019,1.82892,NaN,NaN
2,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2016,2016,3.11655,NaN,NaN
3,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2017,2017,3.05656,NaN,NaN
4,EXPGDP_TOT,GERD as a percentage of GDP,AUT,Austria,2018,2018,3.09182,NaN,NaN
...,...,...,...,...,...,...,...,...,...
768,EXPGDP_TOT,GERD as a percentage of GDP,VEN,Venezuela (Bolivarian Republic of),2016,2016,0.69000,NaN,NaN
769,EXPGDP_TOT,GERD as a percentage of GDP,PNG,Papua New Guinea,2016,2016,0.03158,NaN,NaN
770,EXPGDP_TOT,GERD as a percentage of GDP,CIV,Côte d'Ivoire,2016,2016,0.06975,NaN,NaN
771,EXPGDP_TOT,GERD as a percentage of GDP,AGO,Angola,2016,2016,0.03229,NaN,NaN
772,EXPGDP_TOT,GERD as a percentage of GDP,MRT,Mauritania,2018,2018,0.01019,NaN,NaN

['Australia' 'Austria' 'Belgium' 'Canada' 'Czechia' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan'
 'Republic of Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Slovakia' 'Spain' 'Sweden' 'Switzerland'
 'Türkiye' 'United Kingdom of Great Britain and Northern Ireland'
 'United States of America' 'Argentina' 'Armenia' 'Azerbaijan' 'Belarus'
 'Bermuda' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'China'
 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Egypt' 'El Salvador'
 'Estonia' 'Gambia' 'Georgia' 'Guatemala' 'Honduras'
 'China, Hong Kong Special Administrative Region' 'India'
 'Iran (Islamic Republic of)' 'Israel' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kuwait' 'Latvia' 'Lithuania' 'North Macedonia' 'Madagascar' 'Malaysia'
 'Mali' 'Malta' 'Mauritius' 'Republic of Moldova' 'Mongolia' 'Myanmar'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Romania'
 'Russian Federation' 'Saudi Arabia' 'Seychelles' 'Singapore' 'Slovenia'
 'South Africa' 'Sri Lanka' 'Tajikistan' 'Thailand' 'Trinidad and Tobago'
 'Tunisia' 'Ukraine' 'Uruguay'
 'China, Macao Special Administrative Region' 'Serbia' 'Montenegro'
 'Algeria' 'Bosnia and Herzegovina' 'Chile' 'Ethiopia' 'Indonesia'
 'Kyrgyzstan' 'Nigeria' 'Viet Nam' 'Burundi' 'Iraq' 'Oman'
 'United Arab Emirates' 'Qatar' 'World' 'Central Asia'
 'South and West Asia' 'Latin America and the Caribbean'
 'Central and Eastern Europe' 'East Asia and the Pacific'
 'North America and Western Europe' 'Arab States' 'Sub-Saharan Africa'
 'Uzbekistan' 'Congo' 'Rwanda' 'Northern Africa and Western Asia'
 'Central and Southern Asia' 'Small Island Developing States'
 'Least Developed Countries' 'Eastern and South-Eastern Asia'
 'Lower middle income countries' 'Northern America ' 'Northern Africa'
 'High income countries' 'Eastern Asia' 'Europe and Northern America'
 'Middle income countries' 'Oceania' 'Upper middle income countries'
 'Southern Asia' 'Landlocked Developing Countries'
 'Australia and New Zealand' 'Low income countries' 'South-Eastern Asia'
 'Western Asia' 'Europe' 'Chad' 'Venezuela (Bolivarian Republic of)'
 'Papua New Guinea' "Côte d'Ivoire" 'Angola' 'Mauritania']
Unique Matches:

['Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Australia and New Zealand', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bermuda', 'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Canada', 'Central Asia', 'Chad', 'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Eastern Asia', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Europe', 'Finland', 'France', 'Gambia', 'Georgia', 'Germany', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Landlocked Developing Countries', 'Latin America and the Caribbean', 'Latvia', 'Least Developed Countries', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Myanmar', 'Netherlands', 'New Zealand', 'Nigeria', 'North Macedonia', 'Northern Africa', 'Northern America', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Small Island Developing States', 'South Africa', 'South Korea', 'Southern Asia', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Western Asia', 'World']

Unique values in df1, not in df2:

['Albania', 'American Samoa', 'Bahrain', 'Bolivia', 'Botswana', 'Cabo Verde', 'Cambodia', 'Democratic Republic of the Congo', 'Ecuador', 'Eswatini', 'Faroe Islands', 'Gabon', 'Ghana', 'Greenland', 'Guam', 'Laos', 'Lesotho', 'Malawi', 'Monaco', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Palestine', 'Puerto Rico', 'Saint Helena', 'Senegal', 'South-central Asia', 'South-eastern Asia', 'Sudan', 'Syria', 'Tanzania', 'Togo', 'US Virgin Islands', 'Uganda', 'Zambia', 'Zimbabwe']

Unique values in df2, not in df1:

['Arab States', 'Central and Eastern Europe', 'Central and Southern Asia', 'East Asia and the Pacific', 'Eastern and South-Eastern Asia', 'Europe and Northern America', 'High income countries', 'Low income countries', 'Lower middle income countries', 'Middle income countries', 'North America and Western Europe', 'Northern Africa and Western Asia', 'South and West Asia', 'South-Eastern Asia', 'Upper middle income countries']
df1:

,region,area,year,series,value
0,1,World,2005,Gross domestic expenditure on R&D: as a percen...,1.5
1,1,World,2005,Researchers per million inhabitants (FTE),907.2
2,1,World,2010,Gross domestic expenditure on R&D: as a percen...,1.6
3,1,World,2010,Researchers per million inhabitants (FTE),1022.1
4,1,World,2015,Gross domestic expenditure on R&D: as a percen...,1.7
...,...,...,...,...,...
978,722,Small Island Developing States,2010,Researchers per million inhabitants (FTE),722.0
979,722,Small Island Developing States,2015,Gross domestic expenditure on R&D: as a percen...,1.1
980,722,Small Island Developing States,2015,Researchers per million inhabitants (FTE),812.1
981,722,Small Island Developing States,2020,Gross domestic expenditure on R&D: as a percen...,1.0
982,722,Small Island Developing States,2020,Researchers per million inhabitants (FTE),893.2

df2:

      indicator location              area  year    value  flag_codes  flags
0    EXPGDP_TOT      AUS         Australia  2017  1.87977         NaN    NaN
1    EXPGDP_TOT      AUS         Australia  2019  1.82892         NaN    NaN
2    EXPGDP_TOT      AUT           Austria  2016  3.11655         NaN    NaN
3    EXPGDP_TOT      AUT           Austria  2017  3.05656         NaN    NaN
4    EXPGDP_TOT      AUT           Austria  2018  3.09182         NaN    NaN
..          ...      ...               ...   ...      ...         ...    ...
768  EXPGDP_TOT      VEN         Venezuela  2016  0.69000         NaN    NaN
769  EXPGDP_TOT      PNG  Papua New Guinea  2016  0.03158         NaN    NaN
770  EXPGDP_TOT      CIV       Ivory Coast  2016  0.06975         NaN    NaN
771  EXPGDP_TOT      AGO            Angola  2016  0.03229         NaN    NaN
772  EXPGDP_TOT      MRT        Mauritania  2018  0.01019         NaN    NaN

[773 rows x 7 columns]

merged dataframe:

,region,area,year,series,value,indicator,location,flag_codes,flags
0,1.0,World,2005,Gross domestic expenditure on R&D: as a percen...,1.50000,NaN,NaN,NaN,NaN
1,1.0,World,2005,Researchers per million inhabitants (FTE),907.20000,NaN,NaN,NaN,NaN
2,1.0,World,2010,Gross domestic expenditure on R&D: as a percen...,1.60000,NaN,NaN,NaN,NaN
3,1.0,World,2010,Researchers per million inhabitants (FTE),1022.10000,NaN,NaN,NaN,NaN
4,1.0,World,2015,Gross domestic expenditure on R&D: as a percen...,1.70000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1751,NaN,Venezuela,2016,NaN,0.69000,EXPGDP_TOT,VEN,NaN,NaN
1752,NaN,Papua New Guinea,2016,NaN,0.03158,EXPGDP_TOT,PNG,NaN,NaN
1753,NaN,Ivory Coast,2016,NaN,0.06975,EXPGDP_TOT,CIV,NaN,NaN
1754,NaN,Angola,2016,NaN,0.03229,EXPGDP_TOT,AGO,NaN,NaN
1755,NaN,Mauritania,2018,NaN,0.01019,EXPGDP_TOT,MRT,NaN,NaN

In [4]:
# List of broad regions (countries that are in the same geographical area; not addressing social, political, economic, or cultural closeness)
regions = [
'Central Asia', 'Eastern Asia', 'Northern Africa', 'Oceania', 'South America',  
'Southern Asia', 'Sub-Saharan Africa', 'Western Asia', 'South-central Asia',
'Northern America', 'South-eastern Asia', 'Europe', 'South-Eastern Asia'
]

# List of autonomous regions (cities or islands that are a part of a specific country but for statistical or other purposes are not considered together)
autonomous_regions = ['Macao', 'Hong Kong', 'Greenland', 'US Virgin Islands', 'Faroe Islands', 'Saint Helena']
    
# List of broad regions mixed, or regions based on social-economic factors, etc.
other = [
'Arab States', 'High income countries', 'Least Developed Countries', 'Landlocked Developing Countries', 'Lower middle income countries', 
'Middle income countries', 'Small Island Developing States', 'Upper middle income countries', 'World', 'East Asia and the Pacific',
'Eastern and South-Eastern Asia', 'Central and Southern Asia', 'Landlocked Developing Countries', 'Latin America and the Caribbean',
'Europe and Northern America', 'Northern Africa and Western Asia', 'South and West Asia', 'Australia and New Zealand',
'Central and Eastern Europe', 'North America and Western Europe', 'Low income countries'
]

In [5]:
merged_df['category'] = merged_df['area'].apply(
    lambda x: 'Regions' if x in regions else 
              'Autonomous Regions' if x in autonomous_regions else 
              'Other' if x in other else 
              'Countries'
)

# Create DataFrames for each category
regions_df = merged_df[merged_df['category'] == 'Regions'].copy()
autonomous_regions_df = merged_df[merged_df['category'] == 'Autonomous Regions'].copy()
other_df = merged_df[merged_df['category'] == 'Other'].copy()
countries_df = merged_df[merged_df['category'] == 'Countries'].copy()

# Drop the 'category', as well as 'indicator', 'location', 'flag_codes', and 'flags' columns for a cleaner display
for df in [regions_df, autonomous_regions_df, other_df, countries_df]:
    df.drop(columns=['category'], inplace=True)
    df.drop(columns=['indicator'], inplace=True)
    df.drop(columns=['location'], inplace=True)
    df.drop(columns=['flag_codes'], inplace=True)
    df.drop(columns=['flags'], inplace=True)

# Display the resulting DataFrames
print("Countries DataFrame:")
display (countries_df)

print("\nBroad Regions DataFrame:")
display (regions_df)

print("\nAutonomous Regions DataFrame:")
display (autonomous_regions_df)

print("\nOther Regions DataFrame:")
display (other_df)

Countries DataFrame:

,region,area,year,series,value
108,8.0,Albania,2008,Gross domestic expenditure on R&D: as a percen...,0.20000
109,8.0,Albania,2008,Researchers per million inhabitants (FTE),155.50000
110,12.0,Algeria,2005,Gross domestic expenditure on R&D: as a percen...,0.10000
111,12.0,Algeria,2005,Researchers per million inhabitants (FTE),168.70000
112,12.0,Algeria,2017,Gross domestic expenditure on R&D: as a percen...,0.50000
...,...,...,...,...,...
1751,NaN,Venezuela,2016,NaN,0.69000
1752,NaN,Papua New Guinea,2016,NaN,0.03158
1753,NaN,Ivory Coast,2016,NaN,0.06975
1754,NaN,Angola,2016,NaN,0.03229
1755,NaN,Mauritania,2018,NaN,0.01019

Broad Regions DataFrame:

,region,area,year,series,value
8,15.0,Northern Africa,2005,Gross domestic expenditure on R&D: as a percen...,0.30000
9,15.0,Northern Africa,2005,Researchers per million inhabitants (FTE),472.90000
10,15.0,Northern Africa,2010,Gross domestic expenditure on R&D: as a percen...,0.40000
11,15.0,Northern Africa,2010,Researchers per million inhabitants (FTE),500.90000
12,15.0,Northern Africa,2015,Gross domestic expenditure on R&D: as a percen...,0.60000
...,...,...,...,...,...
1745,NaN,Europe,2017,NaN,1.94581
1746,NaN,Europe,2018,NaN,1.95257
1747,NaN,Europe,2019,NaN,1.98184
1748,NaN,Europe,2020,NaN,2.06465
1749,NaN,Europe,2021,NaN,2.01882

Autonomous Regions DataFrame:

,region,area,year,series,value
244,344.0,Hong Kong,2005,Gross domestic expenditure on R&D: as a percen...,0.80000
245,344.0,Hong Kong,2005,Researchers per million inhabitants (FTE),2662.50000
246,344.0,Hong Kong,2010,Gross domestic expenditure on R&D: as a percen...,0.70000
247,344.0,Hong Kong,2010,Researchers per million inhabitants (FTE),3114.60000
248,344.0,Hong Kong,2015,Gross domestic expenditure on R&D: as a percen...,0.80000
249,344.0,Hong Kong,2015,Researchers per million inhabitants (FTE),3565.10000
250,344.0,Hong Kong,2021,Gross domestic expenditure on R&D: as a percen...,1.00000
251,344.0,Hong Kong,2021,Researchers per million inhabitants (FTE),4553.40000
252,446.0,Macao,2005,Gross domestic expenditure on R&D: as a percen...,0.10000
253,446.0,Macao,2005,Researchers per million inhabitants (FTE),616.10000
254,446.0,Macao,2010,Gross domestic expenditure on R&D: as a percen...,0.10000
255,446.0,Macao,2010,Researchers per million inhabitants (FTE),649.80000
256,446.0,Macao,2015,Gross domestic expenditure on R&D: as a percen...,0.10000
257,446.0,Macao,2015,Researchers per million inhabitants (FTE),1276.90000
258,446.0,Macao,2021,Gross domestic expenditure on R&D: as a percen...,0.40000
259,446.0,Macao,2021,Researchers per million inhabitants (FTE),4283.10000
353,234.0,Faroe Islands,2003,Researchers per million inhabitants (FTE),1813.10000
402,304.0,Greenland,2004,Researchers per million inhabitants (FTE),701.70000
757,654.0,Saint Helena,2000,Researchers per million inhabitants (FTE),330.60000
923,850.0,US Virgin Islands,2005,Gross domestic expenditure on R&D: as a percen...,0.00000
924,850.0,US Virgin Islands,2007,Gross domestic expenditure on R&D: as a percen...,0.00000
1272,NaN,Hong Kong,2016,NaN,0.79150
1273,NaN,Hong Kong,2017,NaN,0.83519
1274,NaN,Hong Kong,2018,NaN,0.86330
1275,NaN,Hong Kong,2019,NaN,0.92557
1276,NaN,Hong Kong,2020,NaN,0.99236
1277,NaN,Hong Kong,2021,NaN,0.97038
1278,NaN,Hong Kong,2022,NaN,1.06948
1461,NaN,Macao,2016,NaN,0.23492
1462,NaN,Macao,2017,NaN,0.17190
1463,NaN,Macao,2018,NaN,0.20079
1464,NaN,Macao,2019,NaN,0.24666
1465,NaN,Macao,2020,NaN,0.45120
1466,NaN,Macao,2021,NaN,0.38366
1467,NaN,Macao,2022,NaN,0.48627

Other Regions DataFrame:

,region,area,year,series,value
0,1.0,World,2005,Gross domestic expenditure on R&D: as a percen...,1.50000
1,1.0,World,2005,Researchers per million inhabitants (FTE),907.20000
2,1.0,World,2010,Gross domestic expenditure on R&D: as a percen...,1.60000
3,1.0,World,2010,Researchers per million inhabitants (FTE),1022.10000
4,1.0,World,2015,Gross domestic expenditure on R&D: as a percen...,1.70000
...,...,...,...,...,...
1727,NaN,Low income countries,2017,NaN,0.23422
1728,NaN,Low income countries,2018,NaN,0.22703
1729,NaN,Low income countries,2019,NaN,0.21818
1730,NaN,Low income countries,2020,NaN,0.20959
1731,NaN,Low income countries,2021,NaN,0.21204

In [6]:
df1['series'].unique()

array(['Gross domestic expenditure on R&D: as a percentage of GDP',
       'Researchers per million inhabitants (FTE)'], dtype=object)

In [7]:
def fill_null_vals_series(dfs):
    # Loop through each DataFrame in the list
    for df in dfs:
        # Check if the 'series' column exists in the DataFrame before filling nulls
        if 'series' in df.columns:
            df['series'].fillna('Gross domestic expenditure on R&D: as a percentage of GDP')
    return dfs

# Usage example
dfs = [regions_df, autonomous_regions_df, other_df, countries_df]
dfs = fill_null_vals_series(dfs)

print("Countries DataFrame:")
display (countries_df)

print("\nBroad Regions DataFrame:")
display (regions_df)

print("\nAutonomous Regions DataFrame:")
display (autonomous_regions_df)

print("\nOther Regions DataFrame:")
display (other_df)

Countries DataFrame:

,region,area,year,series,value
108,8.0,Albania,2008,Gross domestic expenditure on R&D: as a percen...,0.20000
109,8.0,Albania,2008,Researchers per million inhabitants (FTE),155.50000
110,12.0,Algeria,2005,Gross domestic expenditure on R&D: as a percen...,0.10000
111,12.0,Algeria,2005,Researchers per million inhabitants (FTE),168.70000
112,12.0,Algeria,2017,Gross domestic expenditure on R&D: as a percen...,0.50000
...,...,...,...,...,...
1751,NaN,Venezuela,2016,NaN,0.69000
1752,NaN,Papua New Guinea,2016,NaN,0.03158
1753,NaN,Ivory Coast,2016,NaN,0.06975
1754,NaN,Angola,2016,NaN,0.03229
1755,NaN,Mauritania,2018,NaN,0.01019

Broad Regions DataFrame:

,region,area,year,series,value
8,15.0,Northern Africa,2005,Gross domestic expenditure on R&D: as a percen...,0.30000
9,15.0,Northern Africa,2005,Researchers per million inhabitants (FTE),472.90000
10,15.0,Northern Africa,2010,Gross domestic expenditure on R&D: as a percen...,0.40000
11,15.0,Northern Africa,2010,Researchers per million inhabitants (FTE),500.90000
12,15.0,Northern Africa,2015,Gross domestic expenditure on R&D: as a percen...,0.60000
...,...,...,...,...,...
1745,NaN,Europe,2017,NaN,1.94581
1746,NaN,Europe,2018,NaN,1.95257
1747,NaN,Europe,2019,NaN,1.98184
1748,NaN,Europe,2020,NaN,2.06465
1749,NaN,Europe,2021,NaN,2.01882

Autonomous Regions DataFrame:

,region,area,year,series,value
244,344.0,Hong Kong,2005,Gross domestic expenditure on R&D: as a percen...,0.80000
245,344.0,Hong Kong,2005,Researchers per million inhabitants (FTE),2662.50000
246,344.0,Hong Kong,2010,Gross domestic expenditure on R&D: as a percen...,0.70000
247,344.0,Hong Kong,2010,Researchers per million inhabitants (FTE),3114.60000
248,344.0,Hong Kong,2015,Gross domestic expenditure on R&D: as a percen...,0.80000
249,344.0,Hong Kong,2015,Researchers per million inhabitants (FTE),3565.10000
250,344.0,Hong Kong,2021,Gross domestic expenditure on R&D: as a percen...,1.00000
251,344.0,Hong Kong,2021,Researchers per million inhabitants (FTE),4553.40000
252,446.0,Macao,2005,Gross domestic expenditure on R&D: as a percen...,0.10000
253,446.0,Macao,2005,Researchers per million inhabitants (FTE),616.10000
254,446.0,Macao,2010,Gross domestic expenditure on R&D: as a percen...,0.10000
255,446.0,Macao,2010,Researchers per million inhabitants (FTE),649.80000
256,446.0,Macao,2015,Gross domestic expenditure on R&D: as a percen...,0.10000
257,446.0,Macao,2015,Researchers per million inhabitants (FTE),1276.90000
258,446.0,Macao,2021,Gross domestic expenditure on R&D: as a percen...,0.40000
259,446.0,Macao,2021,Researchers per million inhabitants (FTE),4283.10000
353,234.0,Faroe Islands,2003,Researchers per million inhabitants (FTE),1813.10000
402,304.0,Greenland,2004,Researchers per million inhabitants (FTE),701.70000
757,654.0,Saint Helena,2000,Researchers per million inhabitants (FTE),330.60000
923,850.0,US Virgin Islands,2005,Gross domestic expenditure on R&D: as a percen...,0.00000
924,850.0,US Virgin Islands,2007,Gross domestic expenditure on R&D: as a percen...,0.00000
1272,NaN,Hong Kong,2016,NaN,0.79150
1273,NaN,Hong Kong,2017,NaN,0.83519
1274,NaN,Hong Kong,2018,NaN,0.86330
1275,NaN,Hong Kong,2019,NaN,0.92557
1276,NaN,Hong Kong,2020,NaN,0.99236
1277,NaN,Hong Kong,2021,NaN,0.97038
1278,NaN,Hong Kong,2022,NaN,1.06948
1461,NaN,Macao,2016,NaN,0.23492
1462,NaN,Macao,2017,NaN,0.17190
1463,NaN,Macao,2018,NaN,0.20079
1464,NaN,Macao,2019,NaN,0.24666
1465,NaN,Macao,2020,NaN,0.45120
1466,NaN,Macao,2021,NaN,0.38366
1467,NaN,Macao,2022,NaN,0.48627

Other Regions DataFrame:

,region,area,year,series,value
0,1.0,World,2005,Gross domestic expenditure on R&D: as a percen...,1.50000
1,1.0,World,2005,Researchers per million inhabitants (FTE),907.20000
2,1.0,World,2010,Gross domestic expenditure on R&D: as a percen...,1.60000
3,1.0,World,2010,Researchers per million inhabitants (FTE),1022.10000
4,1.0,World,2015,Gross domestic expenditure on R&D: as a percen...,1.70000
...,...,...,...,...,...
1727,NaN,Low income countries,2017,NaN,0.23422
1728,NaN,Low income countries,2018,NaN,0.22703
1729,NaN,Low income countries,2019,NaN,0.21818
1730,NaN,Low income countries,2020,NaN,0.20959
1731,NaN,Low income countries,2021,NaN,0.21204